---
const {name, title, image} = Astro.props;
---

<li>
    <h1>{name}</h1>
    <h2>{title}</h2>
    <img src={`https://ddragon.leagueoflegends.com/cdn/img/champion/splash/${image.full.replace('.png', '')}_0.jpg`} alt={name} />
</li>